/* src/styles/components/FeaturedMenu.css */
.featured-menu {
  padding: -20px;
  text-align: center;
  width: 100%;
  max-width: 1200px; /* Ajusta este valor según sea necesario */
  margin: 0 auto;
}

.featured-menu h2 {
  margin-bottom: 20px;
  color: var(--color-white);
}

.menu-sections {
  display: flex;
  flex-direction: row; /* Asegurar que las cards estén en una fila */
  justify-content: center; /* Centrar las cards */
  align-items: center;
  gap: 20px; /* Espacio entre las cards */
  flex-wrap: wrap; /* Permitir que las cards se ajusten si la pantalla es pequeña */
  -webkit-display: flex;
  -ms-display: flex;
}

.menu-section {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* Limitar el ancho máximo de las cards */
  text-align: center;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease; /* Safari */
  -moz-transition: transform 0.3s ease; /* Firefox */
  -o-transition: transform 0.3s ease; /* Opera */
  margin-bottom: 20px; /* Asegurar que haya espacio abajo en caso de ajuste */
  border: 2px solid var(--color-white); /* Borde blanco */
}

.menu-section:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px); /* Safari */
  -moz-transform: translateY(-5px); /* Firefox */
  -o-transform: translateY(-5px); /* Opera */
}

.menu-section img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.menu-section h3 {
  margin: 15px 0 10px 0;
  color: var(--color-orange);
}

.menu-section p {
  margin: 0;
}


@media (max-width: 768px) {
  .menu-sections {
    flex-direction: column;
  }
}
