/* src/styles/components/Header.css */
header {
  background-color: rgba(0, 0, 0, 0.8); /* Agregar transparencia */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0; /* Fijar el menú en la parte superior */
  display: flex;
  justify-content: center; /* Centrar el contenido del header */
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Centrar el menú */
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem; /* Reducir tamaño de letra */
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--color-orange);
}

.cart-icon {
  position: absolute; /* Posicionar el carrito de forma absoluta */
  right: 60px; /* Mover el carrito más a la izquierda */
}

.cart-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.cart-icon a:hover {
  color: var(--color-orange);
}
