/* src/styles/components/Home.css */
.section {
  padding: 30px 20px;
  text-align: center;
}

.section-dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.section-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.section-separator-line {
  height: 1px;
  background-color: var(--color-white);
  flex: 1;
}

.section-separator-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-icon {
  background-image: url('../../assets/images/menu.png');
}

.utensils-icon {
  background-image: url('../../assets/images/utensils.png');
}

.pizza-icon {
  background-image: url('../../assets/images/pizza-ico.png');
}

.camera-icon {
  background-image: url('../../assets/images/camara.png');
}

.cta-section {
  text-align: center;
  padding: -10px 20px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.cta-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff4500;
}
