/* src/styles/components/MenuItems.css */
.menu-items-section {
  padding: 20px;
  text-align: center;
}

.menu-items-section h2 {
  margin-bottom: 20px;
  color: var(--color-orange);
}

.menu-items {
  display: flex;
  justify-content: space-around; /* Espacio entre las cards */
  align-items: center;
  gap: 20px; /* Espacio entre las cards */
  flex-wrap: wrap; /* Permitir que las cards se ajusten si la pantalla es pequeña */
}

.menu-item {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 40px); /* Ajustar el ancho de las cards */
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column; /* Asegurar que la información esté debajo de la imagen */
  border: 2px solid var(--color-white); /* Agregar borde blanco */
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.menu-item h3 {
  margin: 15px 0 10px 0;
  color: var(--color-orange);
}

.menu-item p {
  margin: 0;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.star {
  color: var(--color-orange);
}

.rating-number {
  margin-left: 5px;
  color: var(--color-white);
}

.price {
  font-size: 1.2rem;
  color: var(--color-orange);
}

.buy-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #ff4500;
}
