/* src/styles/components/Reservations.css */
.reservations-section {
  padding: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

.calendly-container {
  margin: 20px auto;
  max-width: 800px;
  border: 2px solid var(--color-white);
  border-radius: 8px;
  overflow: hidden;
  height: 800px; /* Ajusta la altura del contenedor para que coincida con el iframe */
}
