/* src/styles/components/RestaurantHistory.css */
.history-section {
  padding: 10px 10px; /* Reducir el padding */
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

.history-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.history-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
