/* src/styles/App.css */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff6347; /* Asegúrate de que este sea el mismo tono de naranja del botón */
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-black);
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
